absl-py==0.12.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
async-timeout==3.0.1
atari-py==0.2.6
attrs==20.3.0
backcall==0.2.0
blessings==1.7
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
colorful==0.5.4
cycler==0.10.0
decorator==5.0.7
dm-tree==0.1.5
filelock==3.0.12
future==0.18.2
google-api-core==1.26.2
google-auth==1.28.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.36.1
gym==0.18.0
hiredis==2.0.0
idna==2.10
importlib-metadata==3.9.0
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
jsonschema==3.2.0
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282414123/work
lz4==3.1.3
Markdown==3.3.4
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.2
multidict==5.1.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603479632437/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencensus==0.7.12
opencensus-context==0.1.2
opencv-python==4.5.1.48
opencv-python-headless==4.3.0.36
packaging==20.9
pandas==1.2.4
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1617386154241/work
prometheus-client==0.9.0
prompt-toolkit==3.0.18
protobuf==3.15.6
psutil==5.8.0
ptyprocess==0.7.0
py-spy==0.3.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.0
Pygments==2.8.1
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent==0.17.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyYAML==5.4.1
ray==1.2.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scipy @ file:///tmp/build/80754af9/scipy_1616700973326/work
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
six @ file:///tmp/build/80754af9/six_1605205313296/work
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
tqdm @ file:///tmp/build/80754af9/tqdm_1611857934208/work
traitlets==5.0.5
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
yarl==1.6.3
zipp==3.4.1
